@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --a:0;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.left {
  margin: 3px 0;
  width: 25vw;
}

.close {
  display: none;
}

.right {
  margin: 3px 0;
  width: 75vw;
  position: relative;
}

.home {
  padding: 20px;
}

.home ul li {
  display: flex;
  width: 14px;
  list-style: none;
  gap: 14px;
  padding-top: 14px;
  font-weight: bold;
}

.library {
  min-height: 80vh;
}

.heading {
  display: flex;
  width: 100%;
  gap: 14px;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 25px;
}

.songList {
  height: 540px;
  overflow: auto;
  margin-bottom: 20px;
}

.info {
  word-break: break-all;
}

.songList ul {
  padding: 0 12px;
}

.songList ul li {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  list-style: none;
  list-style-type: decimal;
  margin: 10px 0;
  padding: 10px;
  border: solid white 1px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

.songList ul img {
  width: 20px;
}

.songList .playNow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #242424;
  height: 70px;
}

.hamburger {
  display: none;
  width: 30px;
}

.header > * {
  padding: 20px;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header .nav img {
  width: 14px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons > * {
  margin: 0 12px;
}
.signupbtn {
  background-color: #242424;
  color: #a1a1a1;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 16px;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.loginbtn {
  padding: 14px;
  background-color: white;
  color: black;
  border-radius: 27px;
  width: 104px;
  font-size: 16px;
  font-weight: bold;
}

.loginbtn:hover {
  background-color: rgb(232, 232, 232);
  font-size: 17px;
  cursor: pointer;
}
.spotifyPlaylists {
  padding: 16px;
}

.spotifyPlaylists h1 {
  padding: 16px;
}

.cardContainer {
  margin: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 64vh;
  overflow-y: auto;
}

.card {
  position: relative;
  width: 175px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.9s;
}

.card img{
  border-radius: 12px;
}

.card:hover{
 background-color: #2e2e2e;
 --a: 1;
}

.play {
  position: absolute;
  bottom: 70px;
  right: 20px;
  cursor: pointer;
  opacity: var(--a);
  transition: ease-out 0.9s;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.playbar {
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  width: 72vw;
  padding: 20px;
  filter: invert(1);
  min-height: 40px;
}

.seekbar {
  height: 2px;
  width: 71vw;
  background-color: #a1a1a1;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}

.circle {
  height: 13px;
  width: 13px;
  border-radius: 6px;
  background-color: black;
  position: relative;
  bottom: 5.5px;
  transition: left 0.1s;
  left: 0%;
}

.songInfo {
  color: black;
  padding: 0 12px;
  width: 250px;
  height: 40px;
  overflow: hidden;
}

.aboveBar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.songButtons {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.songButtons img {
  width: 20px;
  cursor: pointer;
}

.songButtons #playButton {
  width: 40px;
}

.voltime {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 250px;
  color: black;
   
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
 
}

.range input{
  cursor: pointer;
}

.songTime {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  color: black;
}

@media screen and (max-width: 1200px) {
  .left {
    padding: 0;
    background-color: black;
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    width: 300px;
    
  }

  .close {
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .playbar {
    background-color: white;
    width: calc(100vw - 50px);
  }

  .seekbar {
    width: calc(100vw - 70px);
    margin-bottom: 3px;
  }

  .cardContainer {
    margin: 10;
  }

  .close {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .navImg {
    display: none;
  }

  .volume {
    width: 15px;
  }

  .spotifyPlaylists h1{
    font-size: 25px;
  }

  
}

@media screen and (max-width: 600px) {

  .left{
    position: fixed;
    top: 0;
  }

  .cardContainer{
    display: flex;
    justify-content: center;
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 35vh;
  
  }

.card{
    width: 400px;
  }

  .songInfo{
    width: ;
    font-size: 10px;
  }

  .songButtons{
    width: 150px;
  }

  .songButtons img{
    width: 15px;
  }

  .songButtons #playButton{
    width: 20px;
  }

  .volume img{
    width: 15px;
  }

  .range input{
    width: 50px;
  }

}

@media screen and (max-width: 400px){

  .cardContainer{
height: 55vh;
  }

   .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

}
