@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  
}

body{
    background-color: black;
    color: white;
}

.left {
  margin: 3px;
  padding: 10px;
  width: 25vw;
}
.right {
  margin: 3px;
  width: 75vw;
}

.home {
  padding: 20px;
}

.home ul li {
  display: flex;
  width: 14px;
  list-style: none;
  gap: 14px;
  padding-top: 14px;
  font-weight: bold;
}

.library{
    min-height: 80vh;
}

.heading{
    display: flex;
  width: 100%;
  gap: 14px;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img{
    width: 25px;
}
